// Centralization of all variables

// Position

#main
    display: flex
    flex-direction: column
    align-items: center

// Breakpoints

$bp: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px, 'large': 1200px)

// Colors

$brown: #795548
$grey: #9B9B9B
$light-grey: #EBEBEB
$main-color: $brown

// Popup section \\
#popup-section
    position: fixed
    bottom: 10px
    right: 150px
    display: flex
    justify-content: flex-end
    z-index: 1

    & > div
        width: 200px
        position: relative
        background-color: $grey
        padding: 20px
        margin: 0 0 0 10px
        height: 70px
        border-radius: 10px

        p
            color: white
            margin-top: 10px

        .cross
            position: absolute
            height: 20px
            width: 20px
            top: 0
            right: 0
            padding: 10px
            text-align: center
            cursor: pointer
                
            &:hover i
                color: white

// Many button as radio

.radio
    display: flex
    margin: 10px 0

    p
        padding: 10px
        background-color: $light-grey
        color: black
        cursor: pointer
        
        &:hover
            background-color: $grey
            color: white

        &.selected
            background-color: $brown
            color: white

    &::before, &::after
        content: ""
        width: 20px
        height: 39px
        background-color: $light-grey

    &::before
        border-radius: 10px 0 0 10px
 
    &::after
        border-radius: 0 10px 10px 0

// Hidden

.hidden
    display: none

// Fonts

$main-font: "ubuntu-r"

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label
    font-family: $main-font

p
    margin: 0

// Roboto

@font-face
    font-family: "roboto-heavy"
    src: url("../font/Roboto-Black.ttf") format("truetype")

@font-face
    font-family: "roboto-bold"
    src: url("../font/Roboto-Bold.ttf") format("truetype")

@font-face
    font-family: "roboto-medium"
    src: url("../font/Roboto-Medium.ttf") format("truetype")

@font-face
    font-family: "roboto"
    src: url("../font/Roboto-Regular.ttf") format("truetype")

@font-face
    font-family: "roboto-light"
    src: url("../font/Roboto-Light.ttf") format("truetype")

@font-face
    font-family: "roboto-thin"
    src: url("../font/Roboto-Thin.ttf") format("truetype")

// Ubuntu

@font-face
    font-family: "ubuntu-b"
    src: url("../font/Ubuntu-B.ttf") format("truetype")

@font-face
    font-family: "ubuntu-bi"
    src: url("../font/Ubuntu-BI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-c"
    src: url("../font/Ubuntu-C.ttf") format("truetype")

@font-face
    font-family: "ubuntu-l"
    src: url("../font/Ubuntu-L.ttf") format("truetype")

@font-face
    font-family: "ubuntu-li"
    src: url("../font/Ubuntu-LI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-m"
    src: url("../font/Ubuntu-M.ttf") format("truetype")

@font-face
    font-family: "ubuntu-mi"
    src: url("../font/Ubuntu-MI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-r"
    src: url("../font/Ubuntu-R.ttf") format("truetype")

@font-face
    font-family: "ubuntu-ri"
    src: url("../font/Ubuntu-RI.ttf") format("truetype")

